.widget {
  display: flex;
  flex-direction: column;
  gap: calc(var(--ring-unit) * 2);
  margin: calc(var(--ring-unit) / 2);
}

.wrapper {
  margin: calc(var(--ring-unit) / 2);
  padding: 0 calc(var(--ring-unit) * 4);
}
